:root{
    --green: green;
    --black: #130f40;
    --light-color:#666;
    --box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --border: 2rem solid rgb(0,0,0.1);
    --outline: .1rem solid rgb(0,0,0.1);

}
*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}
body{
    background: #eee;
}

section{
    padding: 15rem 0%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f3f3f3;
}
.content{
    width: 550px;
    font-size: 20px;
    font-weight: 500;
}
.content h1 span{
    color: rgb(0, 156, 0);
    font-size: 40px;
}
.content p{
    color: rgb(83, 88, 83);
    font-size: 25px;
}
.content a{
    position: absolute;
    margin-top: 10px;
    margin-left: 180px;
    width: 100px;
    height: 40px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--box-shadow);
}
.shop-btn:hover{
    color: white;
    background: var(--green);
}
.right-img{
    margin-top: 70px;
    margin-right: 120px;
}
.left-img{
    margin-top: 70px;
    margin-left: 100px;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    padding: 2rem 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
}
.header .logo{
    font-size: 2.4rem;
    font-weight: bolder;
}
.header .logo i{
    color: var(--green);
}
.header nav a{
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black);
}
.header nav a:hover {
    color: var(--green);
}
.header .icons div{
    /* border: 1px solid red; */
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color: var(--black);
    font-size: 2rem;
    margin-right: .3rem;
    text-align: center;
}
.header .icons div:hover{
    background-color: var(--green);
    color: white;
    cursor: pointer;
}
#menue-btn{
    display: none;
}
.header .search-form{
    position: absolute;
    top: 110%;
    right: -110% ;
    width: 50rem;
    height: 5rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}
.header .search-form.active{
    right: 2rem;
    transition: .5s linear;
}
.header .search-form input{
    width: 100%;
    height: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--black);
    padding: 0  1.5rem;
}
.header .search-form label{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}
.header .search-form label:hover{
    color: var(--green);

}

/* daily basis five vedios and my project will complete */

 .main-product-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #ffffff; 
    color: #000000;
    margin-top: 20px;
}
.main-product-div h1{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Middle-section{
    display: flex;
    justify-content: baseline;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 10px solid rgb(4, 108, 10);
    width: 450px;
    height: 500px;
    margin: 20px;
}
.form input{
    font-size: 30px;
    margin-top: 15px;
    background: #e3c9c9;
    height: 60px;
    margin: 15px;
    border-radius: 5px;
}
.add-btn{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px;
}
.add-product-btn{
    width: 150px;
    height: 50px;
    font-size: 20px;
    display: block;
    justify-content:center;
    text-align: center;
    background: #364f26;
    color: white;
    font-weight: 500;
    box-shadow: var(--box-shadow);
}
.add-product-btn:hover{
    background: #76ae53;
}

/* new product */

.product-item00{
    display: flex;
    flex-direction: column ;
    justify-content: start;
    align-items: center;
    margin: 20px;
    background: #e6ba68;
    width: 400px;
    height: 400px;
    border-radius: 10px;
}
.product-item00 img{
    margin:15px;
    width: 320px;
    height: 250px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.product-item00 h3{
    font-size: 30px;
}
.product-item00 p{
    font-size: 30px;
}
.product-item00 a{
    font-size: 25px;
}